.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.img {
  image-rendering: -webkit-optimize-contrast; /* يساعد المتصفحات القديمة على إظهار الصور بوضوح */
  backface-visibility: hidden; /* يقلل من جهد المعالجة في الموبايل */
}
.multi-line-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* عدد الأسطر التي تريدها قبل ظهور النقاط */
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 2.5em; /* اختياري: لتوحيد ارتفاع كل الكارتات */
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
